<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taruma.beas">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beas">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1594974002597382~4905154381"/>

        <activity
            android:name="com.taruma.beas.L10Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L9Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L8Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L7Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L6Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.LupaPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.EditPasswordActivity"
            android:exported="false" /> <!-- Menambahkan Activity Untuk Cropping Image -->
        <activity
            android:name="com.taruma.beas.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.DaftarActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L5Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L4Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L3Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L2Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.PustakaActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.LihatSkorActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.L1Activity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.TebakActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.taruma.beas.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>